body {
  font-family: $txt-roboto, $txt-sans;
  letter-spacing: 0.03em;

  background-color: $prim-bg-color;
  color: $prim-txt-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
figure {
  margin: 0;
}

ul {
  padding-left: 0;
}

.no-gap {
  display: block;
}

// Добавив стилі Макс
.link {
  text-decoration: none;
  display: inline-block;
  margin-top: 0;
}

.list {
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
}