.hero__section {
    // Колір в hero задав тимчасово, щоб бачити контур секції
    background-color: whitesmoke;

    padding-top: 60px;
    padding-bottom: 50px;

    @media screen and (min-width:$tablet) {
        padding-bottom: 0;
    }

    @media screen and (min-width:$desktop) {
        padding-top: 0;
        padding-bottom: 0;
    }

}

.hero__container {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;

    max-width: $mobile;

    @media screen and (min-width:$tablet) {
            position: relative;   

            padding-left: 32px;
            padding-right: 32px;

            max-width: $tablet;
        }

    @media screen and (min-width:$desktop) {
        display: flex;
        padding-left: 14px;
        padding-right: 14px;

        max-width: $desktop;
    }
}


.blok__hero{
    
    @media screen and (min-width:$desktop){
        margin-top: 159px;
    }
}

.hero__title{
    margin-bottom: 28px;

    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    color: #2C2C2C;

    @media screen and (min-width:$tablet){
        margin-bottom: 44px;
        max-width: 540px;

        font-size: 42px;
        line-height: 1.2;
    }

    @media screen and (min-width:$desktop) {
        margin-bottom: 28px;
        max-width: 500px;
           
        font-size: 48px;
    }
}

.hero__text{
    margin-bottom: 28px;
      
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #2C2C2C; 

    @media screen and (min-width:$tablet){
        margin-bottom: 40px;
        max-width: 340px;

        font-size: 16px;
    }
    
    @media screen and (min-width:$desktop){
        max-width: 500px;

    }
}

.hero__btn{
    padding: 6px 18px;

    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    color: #2C2C2C;
    background-color: #BBF330;
    border-radius: 30px;
    border: none;

    @media screen and (min-width:$tablet) {
        margin-bottom: 73px;
    }
}


.hero__picture{
    @media screen and (min-width:$tablet) and (max-width:1279px){
        position: absolute;
        right: 32px;
        bottom: 0;
    }

    @media screen and (min-width:$desktop){
        position: static;
        margin-left: auto;
        padding: 14px 14px 14px;
    }
}

.hero__img{
    display: none;

    @media screen and (min-width:$tablet) {
        display: block;
        border: 14px solid #FFE550;
        border-radius: 50%;
    }

    @media screen and (min-width:$desktop) {

        border: 26px solid #FFE550;
    }
}

*{
outline: 1px solid tomato;
}